{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container container one">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-10">
            <hr>
            <h2 class="logo-font">About us</h2>
            <hr>
            <p>"Row to Grow" began 10 years ago with a simple idea: 
                to provide rowing enthusiasts with the highest-quality 
                products and gear available. Our founders, all passionate 
                rowers themselves, noticed a gap in the market and set out 
                to fill it. Starting a business from scratch is never easy, but our 
                commitment to excellence and customer satisfaction helped us overcome
                 the challenges we faced.<br><br> We worked tirelessly to curate a selection of 
                 rowing-related products that we were proud to offer to our customers. 
                 Over the years, we've built a reputation for exceptional quality and 
                 service, and we've expanded our offerings to include everything from 
                 books and clothing to oars and accessories. <br>Today, we remain committed 
                 to our founding vision: to help the rowing community grow by providing 
                 the tools and resources that rowers need to succeed. 
                We're proud of what we've achieved so far, and we look forward to continuing 
                to serve our customers for years to come.</p>
                <a href="">Check our products</a>
        </div>
    </div>
</div>
{% endblock %}