{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container one">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="lead-text">About us</h2>
            <hr class="hr">
        </div>
    </div>
    <div class="row justify-content-around my-4">
        <div class="col-sm-12 col-md-10">
            <h4>Our story <i class="fas fa-book-open mx-2 icons"></i></h4>
            <p>"Row to Grow" began 10 years ago with a simple idea:
                to provide rowing enthusiasts with the highest-quality
                products and gear available. Our founders, all passionate
                rowers themselves, noticed a gap in the market and set goal to fill it up
                and to provide not just <strong>rowing </strong>community but whole active community with
                variety of products.<br> Starting a business from scratch is never easy, but our
                commitment to excellence and customer satisfaction helped us overcome
                the challenges we faced. We worked tirelessly to curate a selection of
                <strong>rowing-related </strong>products such as: <strong>rowing accessories, rowing apperal,
                    rowing books, rowing equipment</strong> and many more.
                Over the years, we've built a reputation for exceptional quality and
                service, and we've expanded our offerings to include everything from
                books and clothing to accessories.</p>
            <h4>Goals <i class="fas fa-bullseye mx-2 icons"></i></h4>
            <p>Today we remain committed
                to our founding vision: to help the <strong>rowing community</strong> grow by providing
                the tools and resources that rowers need to succeed.
                We're proud of what we've achieved so far, and we look forward to continuing
                to serve our customers for years to come and to expand our area and products we provide you with!</p>
        </div>
    </div>
    <div class="row justify-content-around my-4">
        <div class="col-sm-12 col-md-10">
            <h4 >Our founders <i class="fas fa-people-carry mx-2 icons"></i></h4>
        </div>
    </div>
    <div class="row justify-content-around my-4 mx-2">
        <div class="col-sm-12 col-md-5">
            <div class="card border-0">
                <img class="card-img-top" src="{% static 'images/markos.jpg' %}" alt="Marko profile image">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Marko Tot</h5>
                    <p class="card-text"><em>Marko is a former profesional rowing athleete and passionate rowing
                        coach with years of experience in the sport.
                        <br>His love for rowing has driven him to continue serving the community by offering
                        high-quality rowing products to enthusiasts of all levels.
                        He is still dedicated to the sport and committed to provide top-notch products and
                        services have made him a trusted name in the rowing community. With his expertise and background
                        in the sport,
                        Row to Grow has become a go-to destination for rowing enthusiasts.</em></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="card border-0">
                <img class="card-img-top" src="{% static 'images/elaines.jpg' %}" alt="Elaine profile iamge">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold"><small class="font-weight-bold">Elaine Daly</small></h5>
                    <p class="card-text"><em>Elaine Daly is a former rower and coach,she is currently a design instructor
                        at UCC. Her passion for rowing is still evident in her life today, as she continues to
                        be involved in the sport in various ways. <br>Despite no longer coaching, she remains
                        connected to the rowing community and is always eager to share her knowledge and love
                        for the sport. Elaine is ensuring that the company provides not only exceptional rowing
                        equipment but also aesthetically pleasing and functional products.</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around mt-4">
        <div class="col-sm-12 col-md-10">
            <h4>Final thoughts <i class="far fa-comment mx-2 icons"></i></h4>
            <p>At <strong>Row to Grow</strong>, we're proud to have Marko and Elaine as our leaders. Their passion for
                rowing and
                dedication to the customers is what sets us apart and makes us a trusted name in the rowing community.
                From beginner rowers to seasoned pros, Row to Grow has everything needed
                to make the most out of the sport.</p>
            <p> Your opinion matters to us so go ahead and <a href="{% url 'products' %}">check our products</a> and
                give us some feedback!</p>
        </div>
    </div>
</div>
{% endblock %}