{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container one">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="lead-text mb-2">Personal information</h2>
            <hr class="hr">
        </div>
    </div>
    <div class="row justify-content-around p-4">
        <div class="col-sm-12 col-md-6 col-lg-5 text-center profile-box m-2">
            <a href="{% url 'history' %}" class="profile-link">
                <div class="row align-items-center p-3">
                    <div class="col-4 ico">
                        <i class="fas fa-history fa-lg"></i>
                    </div>
                    <div class="col-8 mx-auto">
                        <h2 class="box-title font-weight-bold">Order history</h2>
                        <p class="box-text"> Track your previous orders</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 text-center profile-box m-2">
            <a href="{% url 'password_change' %}" class="profile-link">
                <div class="row align-items-center p-3">
                    <div class="col-4 ico">
                        <i class="fas fa-shield-alt fa-lg"></i>
                    </div>
                    <div class="col-8 mx-auto">
                        <h2 class="box-title font-weight-bold">Security</h2>
                        <p class="box-text"> Change your login password</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 text-center profile-box m-2">
            <a href="{% url 'profile' %}" class="profile-link">
                <div class="row align-items-center p-3">
                    <div class="col-4 ico">
                        <i class="fas fa-shipping-fast fa-lg"></i>
                    </div>
                    <div class="col-8 mx-auto">
                        <h2 class="box-title font-weight-bold">Profile info</h2>
                        <p class="box-text">Change your delivery information</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 text-center profile-box m-2">
            <a href="{% url 'wishlist' %}" class="profile-link">
                <div class="row align-items-center p-3">
                    <div class="col-4 ico">
                        <i class="fas fa-save fa-lg"></i></div>
                    <div class="col-8 mx-auto">
                        <h2 class="box-title font-weight-bold">Wishlist</h2>
                        <p class="box-text">Check your saved products</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row h-10 p-4"></div>
</div>
{% endblock %}