{% extends "account/base.html" %}

{% block inner_content %}

<hr class="w-100">
<h2 class="lead-text mb-4">Sign Out</h2>
<hr class="hr">
<div class="row mx-auto">
<div class="col-sm-12 mx-auto col-md-6 my-4 text-center boxes m-2 p-3">
    <p>Are you sure you want to sign out?</p>

    <form method="post" action="{% url 'account_logout' %}" class="">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="my-4">
        <a class="px-4 btn btn-cancel" href="{% url 'home' %}">Cancel</a>
        <button class="btn btn-back" type="submit">Sign Out</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}