{% extends "account/base.html" %}
Password Reset

{% block inner_content %}
    <hr>
    <h2 class="lead-text mb-4">Password Reset</h2>
    <hr class="hr">
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="mb-4">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
    <p class="my-3">In the mean time you can checkout our latest <a href="{% url 'products' %}?category=deals" class="font-weight-bold">deals</a>.</p>
{% endblock %}

