{% extends "account/base.html" %}
{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">Password Reset</h2>
<hr class="hr">
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset
    it.</p>
    <div class="row mx-auto">
        <div class="col-sm-12 mx-auto col-md-6 my-4 text-center boxes m-2 p-3">

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-cancel" href="{% url 'account_login' %}">Back to Login</a>
            <button type="submit" class="btn btn-back">Reset password</button>
        </form>
    </div>
</div>
<p>Please <a href="{% url 'contact' %}">contact us</a> us if you have any trouble resetting your password.</p>
{% endblock %}