{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marko Tot">
    <meta name="description"
    content="Rowing related products">
    <meta name="keywords"
    content="rowing, rowing apperal, rowing clothing, row, sport clothes, training material">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/cccdb242ea.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Row to Grow</title>
</head>

<body>
    <header class="container-fluid fixed-top navi">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex align-items-start p-0">
            <div class="col-12 col-lg-4 my-auto p-0 m-0">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="{% static 'images/logos.png' %}" alt="Row to grow logo" class="logo"></a>
                </a>
            </div> 
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class=" input-group append w-100 search-box"> 
                        <input class="form-control search-txt" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn search-btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>  
            <div class="col-4">
                <ul class="list-inline list-unstyled text-center text-lg-right ">
                    {% if request.user.is_authenticated %}
                    <li class="list-inline-item">
                        <a class="nav-link btn test-btn text-uppercase" href="{% url 'account_logout' %}">
                            <div class="text-center">
                                <p class="my-0">Logout</p>
                            </div>
                        </a>
                    </li>
                    {% else %}
                    <li class="list-inline-item ">
                        <a class="nav-link btn test-btn text-uppercase" href="{% url 'account_login' %}">
                            <div class="text-center">
                                <p class="my-0">Login</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="nav-link btn test-btn text-uppercase" href="{% url 'account_signup' %}">
                            <div class="text-center">
                                <p class="my-0">Register</p>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-inline-item">
                        <a class="{% if total %} font-weight-bold text-white{% else %}text-black{% endif %} bag nav-link pt-3"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                                <p class="my-0">
                                    {% if total %}
                                    €{{ total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <footer class="w-100 flex-shrink-0 main-footer">
        <div class="container-fluid pt-1 container">
            <div class="row text-center">
                <div class="col-lg-4 col-md-6">
                    <h4 class="mb-3 text-white text-bold">Row to grow</h4>
                    <p class="small text-white">Experience our amazing products</p>
                    <ul class="social-footer-ul mt-3 p-0">
                        <li><a href="https://www.facebook.com/" target="blank" rel="noopener" aria-label="Visit our facebook page"><i class="fab fa-facebook-f" ></i></a></li>
                        <li><a href="https://www.twitter.com/" target="blank" rel="noopener" aria-label="Visit our twitter page"><i class="fab fa-twitter p-0"></i></a></li>
                        <li><a href="https://www.linkedin.com/" target="blank" rel="noopener" aria-label="Visit our linkedin page"><i class="fab fa-linkedin p-0"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="blank" rel="noopener" aria-label="Visit our instagram page"><i class="fab fa-instagram p-0"></i></a></li>
                    </ul>
                </div>
                <hr>
                <div class="col-lg-4 col-md-6">
                    <h4 class="mb-3 text-white ">Quick links</h4>
                    <ul class="list-unstyled quick-link">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'products' %}">Shop now</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
                        <li><a href="{% url 'shipping' %}">Shipping & returns</a></li>
                    </ul>
                </div>
                <hr class=".d-none .d-sm-block .d-md-none">
                <div class="col-lg-4 col-md-12 text-white">
                    <h4 class="mb-3">Newsletter</h4>
                    <p class="small">Sign up for our newsletter and, get best deals and promotions on your
                        email!</p>
                    <form method="post" action="{% url 'subscribe' %}" class="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address"
                                required>
                            <button class="btn btn-back" id="button-addon2" type="submit"><i
                                    class="fas fa-share"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>
</html>